<h1> {{ title() }}</h1>
<ul>
  @for (movie of movies(); track movie) {
  <li>
    {{movie}}
    <button (click)="alertMessage()"> Delete Movie </button>
   
  </li>
} @empty {
  <li> No Movies Found!</li>
}
</ul>
<h2> Favourites </h2>
<ul>
  @for (favourite of favourites(); track favourite; let i = $index; let isEven = $even) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
      {{ favourite }}
      <button (click)="deleteFavourite(i)">Delete Favourite</button>
    </li>
  } @empty {
    <li> No Favourites Added!</li>
  }
</ul>

<router-outlet />
